@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

$font-family-sans-serif: 'Poppins', sans-serif;

$carousel-control-prev-icon-bg: url("../../public/images/left-arrow-svgrepo-com.svg");
$carousel-control-next-icon-bg: url("../../public/images/right-arrow-svgrepo-com.svg");

* {
    margin: 0;
    padding: 0;
}
.home-carousel-1 {
    background-image: url("../../public/images/new-flavour-1.jpg");
    background-position: 0% 20%;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-carousel-2 {
    background-image: url("../../public/images/new-flavour-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.home-carousel-3 {
    background-image: url("../../public/images/new-flavour-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-items {
    list-style: none;
}
.view-btn {
    display: inline-block;
    border: none;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    width: 70px;
    text-align: center;
    transition: .2s ease-in-out;
}
.view-btn:hover {
    transform: scale(1.1);
}
.home-text {
    height: 400px;
}
.best-deal-products {
    width: 96px;
    height: 170px;
}
.best-deal-img {
    width: 100%;
}
.devices-section-col-2 img {
    width: 95%;
    padding: 0;
    height: 315px;
}
.devices-section-col-3 img {
    width: 58%;
}
.membership-text {
    position: relative;
    bottom: 170px;
}
.devices-section-col-2 {
    cursor: pointer;
    transition: .2s ease-in-out;
}
.devices-section-col-2 img {
    z-index: 2;
}
.devices-section-col-2:hover .devices-hover{
    z-index: 3;
    transform: scale(1.1);
    display: flex;
    background-color: #000000;
    padding-top: 10px;
    opacity: 0.8;
    width: 270px;
    height: 115px;
    position: absolute;
    transform: translateY(200px);
}
.devices-hover {
    transition: .2s ease-in-out;
}
.devices-text p {
    font-size: 12px;
}
.devices-section-col-3 img {
    width: 65%;
}
.info {
    background-color: #000000;
    opacity: 0.8;
    color: white;
    padding-left: 10px;
    padding-top: 15px;
    width: 170px;
    transform: translateY(20px);
    width: 265px;
}
.info p {
    font-size: 12px;
}
.pods-grid img {
    z-index: 2;
}
.pods-grid {
    cursor: pointer;
    background-image: url("../../public/images/devices-section-3.jpg");
    // background-position: center;
}
.disposable-grid {
    background-image: url("../../public/images/devices-section-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.info {
    transition: .2s ease-in-out;
}
.new-flavour-carousel-1 {
    background-image: url("../../public/images/new-flavour-1.jpg");
    background-position: center;
}
.new-flavour-carousel-2 {
    background-image: url("../../public/images/new-flavour-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.new-flavour-carousel-3 {
    background-image: url("../../public/images/new-flavour-3.jpg");
    background-position: 60% 20%;

}
.items-carousel-container {
    background-image: url("../../public/images/items-carousel-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 25%;
}
.line-through-text {
    font-size: 12px;
}
// Media Queries
@media screen and (max-width: 568px) { 
    .best-deal-img {
        width: 50%;
    }
    .info {
        width: 100px;
    }
}
// @media screen and (max-width: 768px) { 
    
// }
@media screen and (max-width: 992px) { 
    .devices-section-col-2:hover .devices-hover {
        transform: translateY(200px);
        width: 350px;
    }
    .released-container {
        margin-top: 200px;
    }
    .info {
        width: 345px;
    }
    .home-carousel-2, .home-carousel-3 {
        background-position: top center;
        background-size: cover;
    }
}


.height {
    height: 500px;
}
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 7,
);

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
